body {
  background-color: #ffbb00;
  height: 100vh;
}
@font-face {
  font-family: "Caprasimo-Regular";
  src: url(../font/Caprasimo-Regular.ttf);
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  background-color: #ffbb00;
  border: white 1px solid;
  box-shadow: #16028c 0px 0px 20px 7px;
}

.cell {
  background-color: #ffbb00;
  font-size: 64px;
  font-weight: bold;
  border: 2px solid rgb(8, 14, 94);
}

.cell.x {
  color: white;
  -webkit-text-stroke: 2px #16028c;
}

.cell.o {
  color: #16028c;
  text-shadow: 0 0 5px rgb(8, 12, 94);
}
button {
  font-family: "Caprasimo-Regular";
  border: 1px solid #ffffff;
  color: white;
  text-shadow: 0 0 5px rgb(14, 8, 94);
  background: none;
  box-shadow: #16028c 0px 0px 20px;
}
button:hover{
  background-color: #ffffff;
  color: #16028c;
}
